@{
    ViewData["Title"] = "Profile Page";
}
<h2>@ViewData["Title"]</h2>
<h3>Here is the profile page for User ID: @ViewContext.RouteData.Values["id"]</h3>
<p> Name: John Doe </p>
<p> Rank: Captain </p>
<p> Serial Number: 12345 </p>
<p> Speciality: Mage comp in HotS </p>


