@{
    ViewData["Title"] = "Home Page";
}

<div>
<h2>WELCOME TO MY AWESOME WEBSITE! </h2>
<h4> Click any of the links above to do awesome things.</h4>
<ul> 
    <li> /First - brings you to a page that says Hello World!</li>
    <li> /api - returns a json object </li>
    <li>/user/{id} will return a fake profile page for the user id that was passed in</li>
    <li>/subscribe will show a form that posts to the URL /subscribe, and will also POST which will append the incoming email from the body to a file called emails.csv</li>
    <li>/mailinglist will show all the emails in the emails.csv</li>
</ul>
</div>
